In [2]:
list_ = ['Jay', 25,78,88,95]
dir(list_)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
tot = list_[2] + list_[3]+list_[4]
avg = tot / 3.

grade = None

if 90<=avg <= 100:
    grade = 'A'
elif 80<=avg<90:
    grade='B'
elif 70<=avg<80:
    grade='C'
elif 60<=avg<70:
    grade='D'
else:
    grade='F'

list_.append(tot)
list_.append(avg)
list_.append(grade)

print(list_)

['Jay', 25, 78, 88, 95, 261, 87.0, 'B']

In [6]:
student_ = []
name = input("name :")
kor = int(input("Korean :"))
eng = int(input("English :"))
math = int(input("Math :"))

student_.append(name)
student_.append(kor)
student_.append(eng)
student_.append(math)

print(student_)

name :jay
Korean :90
English :90
Math :90
['jay', 90, 90, 90]

In [7]:
# tuple은 괄호없이도 값을 추가할 수 있다.
tuple_ = 'Jay',90,90,90

print(tuple_)

('Jay', 90, 90, 90)

In [8]:
# dict
student_ = {'이름' : 'Jay', '나이':25, '국어':77, '영어': 88, '수학': 99}

tot = student_['국어'] + student_['영어']+ student_['수학']
student_['총점'] = tot

print(student_)

{'이름': 'Jay', '나이': 25, '국어': 77, '영어': 88, '수학': 99, '총점': 264}

In [20]:
# 초단위 시간을 입력받아서 몇분 몇초인지 계산하여 출력하세요
time = int(input('초단위 시간 입력하세요:'))

hour_ = time // 3600
min_ = (time % 3600) // 60
sec_ = (time % 3600) % 60 

output = '1000초는 '

if(hour_ > 0):
    output += (str(hour_) + '시 ')

if(min_ > 0):
    output += (str(min_) + '분 ')
    
if(sec_ > 0):
    output += (str(sec_) + '초 ')
    
output += '입니다.'

print(output)

초단위 시간 입력하세요:1000
1000초는 16분 40초 입니다.

In [18]:
# 강사님 코드

second_ = int(input('초단위 시간 입력하세요:'))

hour = second_ // 3600
rest = second_ % 3600

minute = rest // 60
second = rest % 60 
print('%d초는 %d시간 %d분 %d초입니다.' % (second_, hour, minute, second))

초단위 시간 입력하세요:1000
1000초는 0시간 16분 40초입니다.

In [ ]:
name = input('Name : ')
height = float(input('Heoght:'))
weight = float(input('weight:'))

height = height / 100

bmi = weight /height **2

bmi_str = None

if bmi >= 35 : bmi_str = '고도비만'
elif 30<=bmi<35: bmi_str = '중도비만'
elif 25<=bmi<30: bmi_str = '경도비만'
elif 23<=bmi<25: bmi_str = '과체중'
elif 18.5<=bmi<23: bmi_str = '정상'
else : bmi_str = '저체중'

In [1]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [2]:
count = 0
for num in range(1,501):
    if(num % 7 == 0):
        count += 1
print('7배수의 갯수는 %d'%count)

7배수의 갯수는 71

In [3]:
count = 0
for num in range(1, 501):
    if num % 7 == 0 :
        count+=1
        print(num, end='  ')
        if(count % 5 == 0):
            print()

7  14  21  28  35
42  49  56  63  70
77  84  91  98  105
112  119  126  133  140
147  154  161  168  175
182  189  196  203  210
217  224  231  238  245
252  259  266  273  280
287  294  301  308  315
322  329  336  343  350
357  364  371  378  385
392  399  406  413  420
427  434  441  448  455
462  469  476  483  490
497

In [4]:
num = 1
while num <= 5:
    print(num)
    num+=1

1
2
3
4
5

In [5]:
for num in range(65,91):
    print(chr(num), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [6]:
count = 0
for num in range(65,91):
    print(chr(num), end = ' ')
    count = count + 1
    if count % 5 == 0:
        print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y
Z

In [9]:
count = 0
line = 1
for num in range(65,91):
    if line % 2 == 0:
        print(chr(num + 32), end = ' ')
    else:
        print(chr(num), end = ' ')
    count = count + 1
    if count % 5 == 0:
        line += 1
        print()

A B C D E
f g h i j
K L M N O
p q r s t
U V W X Y
z

In [11]:
sum = 0
for num in range(1,101):
    sum += num
    
print(sum)

5050

In [12]:
def calcule():
    sum = 0
    for num in range(1,101):
        sum += num

    print(sum)
    
calcule()

5050

In [20]:
def calcSum(last):
    sum = 0
    for num in range(1,last):
        sum += num
    print('1 ~ ',last,'합', sum , '입니다')

In [21]:
calcSum(50)

1 ~  50 합 1225 입니다

In [22]:
#immutable : string number
# mutable Object : list, tuple, dictoinary

In [26]:
def changeme(other):
    other = 100000

In [27]:
original = 10
changeme(original)
print(original)

10

In [29]:
def changeme(other):
    other[2] = 'A'

In [30]:
original = ['apl','ada','ssfsf']
changeme(original)
print(original)

['apl', 'ada', 'A']

In [31]:
def changeme(other):
    other['2'] = 'A'
    
original = {'1':'a', '2':'b'}
changeme(original)
print(original)

{'1': 'a', '2': 'A'}

In [36]:
def input_student(student):
    student['name'] = input('name:')
    student['age'] = int(input('age:'))

In [37]:
def output_student(student):
    print(student['name'], student['age'])

In [38]:
print(__name__)

__main__

In [39]:
student_ = {}
if __name__ == '__main__':
    input_student(student_)
    output_student(student_)

name:a
age:1
a 1